.Results h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.5;
  text-transform: capitalize;
}

.Synonyms {
  position: relative;
  left: -32px;
  margin-top: 20px;
}

.synonymTitle {
  font-weight: bold;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
